body {
    font-family: Arial;
    font-size: 120%;
    background-color: rgb(217, 224, 224);
  }
  
  a {
    color: #0a0a0a;
    text-decoration: underline;
    transition: color 0.1s;

    padding: 10px;
    margin: 10px;

    
  }
  
  a:hover {
    color: #474549;

  }
  
  button {
    display: inline-block;
    letter-spacing: 3px;
    margin: 20px;
    cursor: pointer;
    font-size: 100%;
    background-color: #1c1b61;
    border-radius: 5px;
    padding:9px 18px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  
  }
  
  button:hover {
    background-color: #06030a;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
    background-color:rgb(83, 134, 202);
    padding:10px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 18px;
    left: 15px;

  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
    padding:10px;
    background-color: rgb(83, 134, 202);
    margin: 15px;
  }
  #questions {
    background-color: rgb(83, 134, 202);
    padding: 15px;
  }
  footer {

    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #0c0b0b;
    text-align: center;
    margin-top: 290px;
}
p {
 justify-content: center;
 padding: 10px;
 letter-spacing: 1px;
 line-height: 25px;

}